.query-recorder .query-recorder-container {
  position: relative;
}
.query-recorder .query-recorder-main {
  margin-right: 320px;
  min-height: 775px;
}
.query-recorder .query-recorder-intro {
  font-size: 14px;
  width: 100%;
  max-width: 750px;
}
.query-recorder #exclude-queries {
  width: 100%;
  max-width: 530px;
  height: 215px;
}
.query-recorder #saved-queries-file-path {
  width: 100%;
  max-width: 530px;
}
.query-recorder #query-recorder-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 292px;
}
.query-recorder #query-recorder-sidebar .inside {
  padding: 20px;
  border: 1px solid #ccc;
  border-bottom: none;
}
.query-recorder #query-recorder-sidebar .author {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.query-recorder #query-recorder-sidebar .author img {
  float: left;
  margin-right: 20px;
}
.query-recorder #query-recorder-sidebar .author .desc {
  float: left;
}
.query-recorder #query-recorder-sidebar .author h3 {
  font-size: 12px;
  margin: 0;
}
.query-recorder #query-recorder-sidebar .author h2 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.query-recorder #query-recorder-sidebar .author h2 a {
  color: #464646;
  text-decoration: none;
}
.query-recorder #query-recorder-sidebar .author h2 a:hover {
  color: #000;
}
.query-recorder #query-recorder-sidebar .author p {
  margin: 0;
}
.query-recorder #query-recorder-sidebar .subscribe h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  color: #666;
  font-size: 20px;
  line-height: 1.2em;
}
.query-recorder #query-recorder-sidebar .subscribe h3 {
  font-size: 16px;
  margin: 0;
}
.query-recorder #query-recorder-sidebar .subscribe p {
  margin: 0;
}
.query-recorder #query-recorder-sidebar .subscribe p.interesting {
  margin-bottom: 1em;
}
.query-recorder #query-recorder-sidebar .subscribe .links {
  margin-bottom: 2em;
}
.query-recorder #query-recorder-sidebar .subscribe .links a {
  text-decoration: none;
}
.query-recorder #query-recorder-sidebar .subscribe .promise {
  color: #999;
  font-size: 12px;
  line-height: 1.4em;
}
.query-recorder #query-recorder-sidebar .subscribe .field {
  margin-bottom: 0.5em;
}
.query-recorder #query-recorder-sidebar .subscribe .field p {
  margin-bottom: 0.3em;
}
.query-recorder #query-recorder-sidebar .subscribe .field.submit-button {
  margin-bottom: 1em;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .query-recorder #query-recorder-sidebar .wpmdb-banner {
    background-image: url(../img/wp-migrate-db-pro@2x.jpg);
    background-size: 292px 292px;
    width: 292px;
    height: 292px;
    display: block;
  }
  .query-recorder #query-recorder-sidebar .wpmdb-banner img {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .query-recorder .form-table th, .query-recorder .form-table td {
    display: block;
    width: auto;
    vertical-align: middle;
    padding: 10px 0 0 0;
    border-bottom: 0;
  }
  .query-recorder .form-table td input[type=text], .query-recorder .form-table td textarea {
    font-size: 16px;
    line-height: 1.5;
    padding: 7px 10px;
    display: block;
  }
}
